Machine Learning Lab-1
AP21110010966

Introduction To Numpy

1) Write a NumPy program to multiply two given arrays of same size element-by-element.

In [1]:
import numpy as np
array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])

result_array = np.multiply(array1, array2)
print("Array 1:", array1)
print("Array 2:", array2)
print("Element-wise multiplication result:", result_array)

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Element-wise multiplication result: [ 5 12 21 32]

2.Write a NumPy program to find the missing data in a given array

In [2]:
import numpy as np

array_with_missing_data = np.array([1.0, 2.0, np.nan, 4.0, 5.0, np.nan, 7.0])

missing_data_mask = np.isnan(array_with_missing_data)

print("Original Array:", array_with_missing_data)
print("Missing Data Mask:", missing_data_mask)

Original Array: [ 1.  2. nan  4.  5. nan  7.]
Missing Data Mask: [False False  True False False  True False]

3. write a NumPy program to test whether each element of a 1-D array is also present in a second array.

In [3]:
import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([3, 5, 7, 9])

result = np.isin(array1, array2)

print("Array 1:", array1)
print("Array 2:", array2)
print("Is each element of Array 1 present in Array 2?", result)

Array 1: [1 2 3 4 5]
Array 2: [3 5 7 9]
Is each element of Array 1 present in Array 2? [False False  True False  True]

4) write a numpy program to save a numpy array to text file

In [4]:
import numpy as np

my_array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
np.savetxt('output_array.txt', my_array, fmt='%d', delimiter=',')

print("Array has been saved to 'output_array.txt'")

Array has been saved to 'output_array.txt'

5)write a numpy program to create a 1-D array of 30 evenly spaced elements between 2.5 and 6.5 inclusive.

In [5]:
import numpy as np

my_array = np.linspace(2.5, 6.5, 30)

print("1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(my_array)

1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

Introduction to Pandas (series and dataframes)

1) Write a Pandas program to convert series of lists to one series

In [6]:
import pandas as pd

series_of_lists = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])

result_series = series_of_lists.explode()

print("Original Series of Lists:")
print(series_of_lists)

print("\nConverted Series:")
print(result_series)

Original Series of Lists:
0    [1, 2, 3]
1       [4, 5]
2    [6, 7, 8]
dtype: object

Converted Series:
0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

2) write a Pandas program to create a subset of a given series based on value and condition

In [7]:
import pandas as pd

my_series = pd.Series([10, 20, 30, 40, 50])
condition = my_series > 30
subset = my_series[condition]

print("Original Series:")
print(my_series)

print("\nSubset based on condition (values greater than 30):")
print(subset)

Original Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Subset based on condition (values greater than 30):
3    40
4    50
dtype: int64

3) write a pandas program to display most frequent value in a given series and replace everthing else as 'Other' in the series.

In [8]:
import pandas as pd

my_series = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
most_frequent_value = my_series.mode().iloc[0]
my_series = my_series.apply(lambda x: most_frequent_value if x == most_frequent_value else 'Other')

print(my_series)

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

4) Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [9]:
import pandas as pd

my_series = pd.Series([1, 5, 10, 15, 20, 25, 30, 35, 40])

positions_of_multiples_of_5 = my_series.index[my_series % 5 == 0]

print("Original Series:")
print(my_series)

print("\nPositions of numbers that are multiples of 5:")
print(positions_of_multiples_of_5)

Original Series:
0     1
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
dtype: int64

Positions of numbers that are multiples of 5:
Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

5)write a pandas program to calculate the number of character in each word in a given series.

In [10]:
import pandas as pd

my_series = pd.Series(['ram', 'sam', 'seetha', 'lakshmi'])
word_lengths = my_series.str.len()

print("Original Series:")
print(my_series)

print("\nNumber of characters in each word:")
print(word_lengths)

Original Series:
0        ram
1        sam
2     seetha
3    lakshmi
dtype: object

Number of characters in each word:
0    3
1    3
2    6
3    7
dtype: int64

6) write a pandas program to convert year-month string to dates adding a specified day to the month

In [11]:
import pandas as pd

year_month_strings = pd.Series(['2022-01', '2022-02', '2022-03', '2022-04'])
specified_day = 6

dates_with_specified_day = pd.to_datetime(year_month_strings + '-' + str(specified_day), format='%Y-%m-%d')

result_df = pd.DataFrame({
    'Year-Month String': year_month_strings,
    'Converted Date': dates_with_specified_day
})

print(result_df)

  Year-Month String Converted Date
0           2022-01     2022-01-06
1           2022-02     2022-02-06
2           2022-03     2022-03-06
3           2022-04     2022-04-06

7)write a pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [13]:
import pandas as pd

data = {
    'Name': ['ram', 'sam', 'seetha', 'lakshmi'],
    'Age': [20, 19, 20, 19],
    'City': ['India', 'Paris', 'Korean', 'California']
}
index_labels = ['Person1', 'Person2', 'Person3', 'Person4']
df = pd.DataFrame(data, index=index_labels)

print(df)

            Name  Age        City
Person1      ram   20       India
Person2      sam   19       Paris
Person3   seetha   20      Korean
Person4  lakshmi   19  California

8) write a pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [14]:
import pandas as pd

data = {
    'Student': ['ram', 'sam', 'seetha', 'lakshmi'],
    'Attempts': [1, 4, 3, 2]
}
df = pd.DataFrame(data)
selected_rows = df[df['Attempts'] > 2]

print("Original DataFrame:")
print(df)

print("\nSelected rows where the number of attempts is greater than 2:")
print(selected_rows)

Original DataFrame:
   Student  Attempts
0      ram         1
1      sam         4
2   seetha         3
3  lakshmi         2

Selected rows where the number of attempts is greater than 2:
  Student  Attempts
1     sam         4
2  seetha         3

9) Write a pandas program to append a new row k to data frame with given values for each column. Now delete the new row and return the orginal DataFrame.

In [15]:
import pandas as pd

data = {'Name': ['ram','sam','seetha','lakshmi']}
df = pd.DataFrame(data)

new_row_values = {'Name': 'Gowri'}
df = pd.concat([df, pd.DataFrame([new_row_values])], ignore_index=True)

print("DataFrame with New Row:")
print(df)

df = df.drop(df[df['Name'] == 'Gowri'].index)

print("\nOriginal DataFrame after Deleting 'Gowri':")
print(df)

DataFrame with New Row:
      Name
0      ram
1      sam
2   seetha
3  lakshmi
4    Gowri

Original DataFrame after Deleting 'Gowri':
      Name
0      ram
1      sam
2   seetha
3  lakshmi

10) write a pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [17]:
import pandas as pd

data = {
    'Name': ['ram','sam','seetha','lakshmi'],
    'Score': [85, 90, 75, 80]
}
df = pd.DataFrame(data)
df_sorted = df.sort_values(by=['Name', 'Score'], ascending=[False, True])

print("DataFrame sorted by 'Name' in descending order, then by 'Score' in ascending order:")
print(df_sorted)

DataFrame sorted by 'Name' in descending order, then by 'Score' in ascending order:
      Name  Score
2   seetha     75
1      sam     90
0      ram     85
3  lakshmi     80

11) write a pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [19]:
import pandas as pd

data = {
    'Name': ['ram','sam','seetha','lakshmi'],
    'Qualify': ['yes', 'no', 'yes', 'no']
}
df = pd.DataFrame(data)
df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})

print("DataFrame after replacing 'qualify' values:")
print(df)

DataFrame after replacing 'qualify' values:
      Name  Qualify
0      ram     True
1      sam    False
2   seetha     True
3  lakshmi    False

Write a Pandas program to remove infinite values from a given DataFrame.

In [21]:
import pandas as pd
import numpy as np

data = {
    'Name': ['ram','sam','seetha','lakshmi'],
    'Score': [90, np.inf, 75, -np.inf]
}
df = pd.DataFrame(data)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df_cleaned = df.dropna()

print("Original DataFrame:")
print(df)

print("\nDataFrame after removing infinite values:")
print(df_cleaned)

Original DataFrame:
      Name  Score
0      ram   90.0
1      sam    NaN
2   seetha   75.0
3  lakshmi    NaN

DataFrame after removing infinite values:
     Name  Score
0     ram   90.0
2  seetha   75.0